
README.md
TeacherPortal_WPF/obj/Debug/net4.6.2-windows/win-x86/TeacherPortal_MarkupCompile.cache
TeacherPortal_WPF/obj/Debug/net4.6.2-windows/win-x86/TeacherPortal_MarkupCompile.cache
TeacherPortal_WPF/obj/Debug/net4.6.2-windows/win-x86/TeacherPortal_MarkupCompile.i.cache
TeacherPortal_WPF/obj/Debug/net4.6.2-windows/win-x86/TeacherPortal.pdb
TeacherPortal_WPF/bin/Debug/net4.6.2-windows/win-x86/WebView2Loader.dll
TeacherPortal_WPF/bin/Debug/net4.6.2-windows/win-x86/vulkan-1.dll
TeacherPortal_WPF/bin/Debug/net4.6.2-windows/win-x86/vk_swiftshader_icd.json
*.pdb
TeacherPortal_WPF/bin/Debug/net4.6.2-windows/win-x86/TeacherPortal.exe.config
*.exe
*.dll
*.pak
TeacherPortal_WPF/bin/Debug/net4.6.2-windows/win-x86/GPUCache/index
TeacherPortal_WPF/bin/Debug/net4.6.2-windows/win-x86/GPUCache/data_3
TeacherPortal_WPF/bin/Debug/net4.6.2-windows/win-x86/GPUCache/data_2
TeacherPortal_WPF/bin/Debug/net4.6.2-windows/win-x86/GPUCache/data_1
TeacherPortal_WPF/bin/Debug/net4.6.2-windows/win-x86/GPUCache/data_0
TeacherPortal_WPF/bin/Debug/net4.6.2-windows/win-x86/README.txt
TeacherPortal_WPF/bin/Debug/net4.6.2-windows/win-x86/LICENSE.txt
TeacherPortal_WPF/bin/Debug/net4.6.2-windows/win-x86/icudtl.dat
TeacherPortal_WPF/bin/Debug/net4.6.2-windows/win-x86/v8_context_snapshot.bin
TeacherPortal_WPF/obj/Debug/net4.6.2-windows/win-x86/TeacherPortal.exe
TeacherPortal_WPF/bin/Debug/net4.6.2-windows/win-x86/snapshot_blob.bin
TeacherPortal_WPF/bin/Debug/net4.6.2-windows/win-x86/debug.log
TeacherPortal_WPF/bin/Debug/net4.6.2-windows/win-x86/CefSharp.Core.Runtime.xml
TeacherPortal_WPF/bin/Debug
